:root {
    --primary-color: #ee4f2f;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --active-start-color: #ffce3e;
    --navbar-height: 34px;
    --header-with-search-height: 85px;
    --sortbar-height: 46px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*Animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/*Modal*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__content {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    z-index: 3;
    margin: auto;
    animation: growth linear 0.2s;
}


/*Button*/

.btn {
    min-width: 140px;
    padding: 8px 32px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    outline: none;
}

.btn--size-s {
    padding: 10px 10px;
    font-size: 1.3rem;
}

.btn--normal {
    background-color: #fefefe;
    color: #555;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    filter: brightness(80%);
    opacity: 0.8;
}


/*Pagination*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
}


/* .pagination-item {} */

.pagination-item--active .pagination-item__link {
    background-color: #ee4d2d;
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f05d40;
}

.pagination-item--ellipsis {
    cursor: default;
}

.pagination-item__link {
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-radius: 2px;
}

@media (max-width: 739px) {
    .pagination-list {
        gap: 0 15px;
    }
    .pagination-item__link {
        font-size: 1.4rem;
        min-width: 20px;
        height: 20px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .pagination-list {
        gap: 0 20px;
    }
    .pagination-item__link {
        font-size: 1.6rem;
        min-width: 30px;
    }
}

/* .pagination-item__icon {} */